
#container { 
	float: center;
	width: auto;
	height: 100%;
	position: relative;;
	font-family: Lato, Arial, sans-serif;
}

#top
{	
	color: #666;
	font-size: 80pt;
	width: 100%;
	text-align: center;
	margin: 75px 0px;
	float: center;
}

#action {
margin-top: 50px;
font-size: 40pt;
color: #666;
text-align: center;
float: center;
height: auto;
font-family: Lato, Arial, sans-serif;
/*margin-bottom: 25px;*/
}

#firstMsg {
margin-top: 50px;
font-size: 40pt;
color: #666;
text-align: center;
}

#menuItemCourse {
margin-top: 50px;
font-size: 48pt;
color: #666;
text-align: center;
}

#menuItemName {
margin-top: 5px;
font-size: 72pt;
font-weight: bold;
color: #666;
text-align: center;
}

#menuItemDescription {
font-size: 24pt;
color: #666;
text-align: center;
margin-bottom: 0px;
}

#anotherCourse {
font-size: 40pt;
color: #666;
/*position: fixed;*/
bottom: inherit;
height: auto;
width: 100%;
/*margin-top: 100px;*/
margin-bottom: 10px;
text-align: center;
vertical-align: middle;
}

#banWeb {
font-size: 24pt;
color: #666;
position: fixed;
bottom: 0;
height: auto;
width: 100%;
margin-bottom: 50px;
text-align: center;
vertical-align: middle;
}

.banButton {
/* margin: auto; */
width: 800px;
height: 500px;
border: 0;
font-size: 56pt;
font-weight: bold;
border-radius: 15px;
color: #666;
background: #FFBE1A;
text-align: center;
float: center;
position: relative;
margin-top: 50px;
/* border-top: 1px solid #6DBCDB; */
}

.banButtonRed {
margin: auto;
width: 500px;
height: 300px;
border: 0;
font-size: 36pt;
font-weight: bold;
border-radius: 7px;
color: #666;
background: #FF5454;
text-align: center;
/* border-top: 1px solid #6DBCDB; */
}
