
#container { 
	text-align: center;
	float: center;
}

#container h1
{
	color: #666;
	font-size: 48pt;
}

#container p
{
	margin: 5px 0px;
	font-size: 24pt;
}

#action {
/* width: 150px; */
margin-top: 50px;
/* height: 50px; */
font-family: "Arial";
font-size: 24pt;
/* border-radius: 7px; */
/* color: #666; */
text-align: center;
/* float: center; */
color: #FF5454;
/* padding-top: 50px; */
}

.banButton {
margin: auto;
width: 500px;
height: 300px;
border: 0;
font-family: "Arial";
font-size: 36pt;
font-weight: bold;
border-radius: 7px;
color: #666;
background: #FFBE1A;
text-align: center;
float: center;
/* border-top: 1px solid #6DBCDB; */
}


.banButtonRed {
margin: 10px 0px;
padding: 0;
width: 150px;
height: 50px;
border: 0;
font-family: "Arial";
font-size: 14pt;
font-weight: bold;
border-radius: 7px;
color: #666;
background: #FF5454;
text-align: center;
/* border-top: 1px solid #6DBCDB; */
}