
#container { 
	position: relative;
	text-align: center;
	float: center;
}

#container h1
{
	color: #666;
	font-size: 48pt;
}

#container p
{
	margin: 5px 0px;
	font-size: 18pt;
}

.banButton {
margin: 50px 0px;
padding: 0;
width: 500px;
height: 300px;
border: 0;
font-family: "Arial";
font-size: 36pt;
font-weight: bold;
align-self: center;
align-items: center;
border-radius: 7px;
position: relative;
color: #666;
background: #FFBE1A;
text-align: center;
/* border-top: 1px solid #6DBCDB; */
}

.banButtonResults {
width: 150px;
height: 50px;
font-family: "Arial";
font-size: 14pt;
border-radius: 7px;
color: #666;
text-align: center;
}



.banButtonRed {
margin: 10px 0px;
padding: 0;
width: 150px;
height: 50px;
border: 0;
font-family: "Arial";
font-size: 14pt;
font-weight: bold;
border-radius: 7px;
color: #666;
background: #FF5454;
text-align: center;
/* border-top: 1px solid #6DBCDB; */
}